<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name=" Test Suite" parallel="tests" thread-count="1">

	<parameter name="OS" value="Windows" />
	<parameter name="browser" value="Chrome" />
	<test name="TEST">
		<classes>
		<class name="com.automation.framework.webTests.SanityTests">
			</class>
		</classes>
	</test>
</suite>